/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/* Start of Page Container */
.container {
    margin: 0 auto;
    width: 1200px;
    height: 1200px;
}

/* Main Banner */
.main_banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.title {
    color: teal;
    text-shadow: 3px 3px orange;
    font-size: 120px;
}

.title_pic_left,
.title_pic_right {
    height: 150px;;
}
/* End of Main Banner */

/* NavBar */
.navbar {
    height: 100px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_list {
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.nav_links {
    color: teal;
    font-size: 35px;
    text-shadow: 1px 1px orange;
    text-decoration: none;
}

.nav_searchbar {
    height: 30px;
    width: 200px;
    border: 3px solid teal;
    box-shadow: 2px 3px orange;
}
/* End of Navbar */
/* End of Page Container */