/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.container {
    margin: 0 auto;
    width: 1200px;
    height: 1200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.title {
    color: teal;
    text-shadow: 3px 3px orange;
    font-size: 120px;
}

.title_pic_left,
.title_pic_right {
    height: 150px;;
}

.navbar {
    height: 100px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid orange;
}

.nav_list {
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.nav_links {
    color: teal;
    font-size: 35px;
    text-shadow: 1px 1px orange;
    text-decoration: none;
}