<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Link -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>About Page</title>
</head>
<body class="homepage_background">
    <!-- Page Container -->
    <div class="container-fluid">
        <!-- Navbar -->
        <header class="p-3 bg-dark text-white mb-3">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-center">
                    <img class="gp_thumbnail" src="/static/img/safe.png" alt="safe">
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="/homepage" class="nav-link px-2 text-white">Home</a></li>
                        <li><a href="/features" class="nav-link px-2 text-white">Features</a></li>
                        <li><a href="/games" class="nav-link px-2 text-white">Games</a></li>
                    </ul>
                    <form action="/search_game/details" method="POST" class="d-flex col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                        <input type="search" name="name" class="form-control form-control-dark" placeholder="Search games..." aria-label="Search">
                        <button class="btn btn-outline-warning mx-4 me-2">Search</button>
                    </form>
                    <a class="btn btn-warning" href="/logout">Logout</a>
                </div>
            </div>
        </header>
        <!-- End of Navbar -->
        <div class="container">
            <div class="mx-auto p-3 mb-3">
                <h1 class="text-center text-warning mb-3">Game Vault's Mission</h1>
                <p class="text-center text-light p-2 bg-dark">
                    Game Vault is a video game collection application specifically designed for easy user interaction. A user can search for a game,
                    and then add that game to their collection to easily keep track of what they already own. From game ratings to detailed descriptions
                    Game vault has a wealth of infromation for anyone.
                </p>
            </div>
            <div class="d-flex flex-column align-items-center mb-3 p-3">
                <h1 class="text-center text-warning mb-3">Developer Information</h1>
                <img class="rounded-circle mb-3 border border-primary profile_pic" src="/static/img/profile_picture.jpg" alt="Developer's picture">
                <div class="d-flex align-items-center mb-3">
                    <a href="#"><img class="about_thumbnails mx-3" src="/static/img/linked_in2.png" alt="Linkedin logo"></a>
                    <a href="#"><img class="about_thumbnails" src="/static/img/github.png" alt="Github logo"></a>
                    <a href="#"><img class="about_thumbnails mx-3" src="/static/img/gmail3.png" alt="Gmail logo"></a>
                </div>
                <p class="text-center text-light p-2 bg-dark">
                    Hello, I'm Brandon! I'm a Software Developer and Game Vault has been my largest creation. I started my journey
                    in Software Engineering in December of 2021. I chose to go the route of self taught for
                    the first year of my journey and quickly realized how much I enjoyed development. Since January of 2023, I've been a student studying Software
                    Engineering at Coding Dojo which is part of Colorado Technical University! The technologies that I've studied and used in this application are located on the <a href="/features" class="text-decoration-none">Features</a> page.
                    I'm consistently sharpening my skills with new and robust technologies and would enjoy working with fellow developers!
                </p>
            </div>
        </div>
        <!-- Footer -->
        <footer class="bg-dark">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="/homepage" class="nav-link px-2 text-light">Home</a></li>
                <li class="nav-item"><a href="/features" class="nav-link px-2 text-light">Features</a></li>
                <li class="nav-item"><a href="/games" class="nav-link px-2 text-light">Games</a></li>
            </ul>
            <p class="text-center text-light pb-3">© 2023 Company, Inc</p>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Page Container -->
</html>