<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Link -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Edit Game</title>
</head>
<body class="edit_game_background">
    <!-- Page Container -->
    <div class="container col-md-10">
        <!-- Navbar -->
        <div class="navbar text-light justify-content-between p-3">
            <h3 class="p-2">Edit Game</h3>
            <div>
                <a href="/your_collection" class="btn create_btn btn-secondary">Your Collection</a>
                <a href="/add_game" class="btn create_btn btn-secondary">Add Game</a>
                <a href="/logout" class="btn btn-primary">Logout</a>
            </div>
        </div>
        <!-- End of Navbar -->
        <!-- Form -->
        <form action="/add_game" method="POST" class="col-10 p-3 text-light">
            <!-- Flash messages -->
            {% with messages = get_flashed_messages(category_filter=['game']) %}     <!-- declare a variable called messages -->
                {% if messages %}                            <!-- check if there are any messages -->
                    {% for message in messages %}            <!-- loop through the messages -->
                        <p class="text-danger">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <!-- End of Flash messages -->
            <div class="col-md-5">
                <div class="form-group">
                    <label class="my-2" for="title">Title:</label>
                    <input type="text" name="title" class="form-control">
                </div>
                <div class="form-group">
                    <label class="my-2" for="release_date">Release Date:</label>
                    <input type="date" name="release_date" class="form-control">
                </div>
                <div class="form-group">
                    <label class="my-2" for="genere">Genere:</label>
                    <input type="text" name="genere" class="form-control">
                </div>
                <div class="form-group">
                    <label class="my-2" for="console">Console:</label>
                    <input type="text" name="console" class="form-control">
                </div>
                <div class="form-group">
                    <label class="my-2" for="description">Description:</label>
                    <textarea name="description" cols="10" rows="10" class="form-control"></textarea>
                </div>
                <br>
                <input type="submit" value="Edit" class="btn btn-secondary">
            </div>
        </form>
        <!-- End of Form -->
    </div>
    <!-- End of Page Container -->
</body>
</html>