<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Link -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Home Page</title>
</head>
<body class="homepage_background">
    <!-- Page Container -->
    <div class="container col-md-10">
        <!-- Navbar -->
        <div class="navbar text-light justify-content-between p-3 mb-3">
            <h3 class="p-2">Welcome to the vault, {{user.first_name}}!</h3>
            <a href="/logout" class="btn btn-primary logout_btn">Logout</a>
        </div>
        <!-- End of Navbar -->
        <div class="container col-md-5">
            <div class="card mb-2 p-1">
                <div class="d-flex">
                    <img class="hp_thumbnails" src="/static/img/system.png" alt="Game console">
                    <h3><a class="act_links" href="#">Consoles</a></h3>
                </div>
                <div>
                    <p>Entries: Jinja</p>
                    <p>Total Value: Jinja</p>
                </div>
            </div>
            <div class="card mb-2 p-1">
                <div class="d-flex">
                    <img class="hp_thumbnails" src="/static/img/cartridge.png" alt="Game cartridge">
                    <h3><a class="act_links" href="#">Games</a></h3>
                </div>
                <div>
                    <p>Entries: Jinja</p>
                    <p>Total Value: Jinja</p>
                </div>
            </div>
            <div class="card mb-2 p-1">
                <div class="d-flex">
                    <img class="hp_thumbnails" src="/static/img/controller.png" alt="Game controller">
                    <h3><a class="act_links" href="#">Peripherals</a></h3>
                </div>
                <div>
                    <p>Entries: Jinja</p>
                    <p>Total Value: Jinja</p>
                </div>
            </div>
            <div class="card mb-2 p-1">
                <div class="d-flex">
                    <img class="hp_thumbnails" src="/static/img/media.png" alt="Game media">
                    <h3><a class="act_links" href="#">Print Media</a></h3>
                </div>
                <div>
                    <p>Entries: Jinja</p>
                    <p>Total Value: Jinja</p>
                </div>
            </div>
            <div class="card mb-2 p-1">
                <div>
                    <h3><a class="act_links" href="#">Collection Summary</a></h3>
                </div>
                <div class="d-flex justify-content-between">
                    <p>Entries: Jinja</p>
                    <p>Total Value: Jinja</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Page Container -->
</html>
