<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Link -->
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Retro Vault Homepage</title>
</head>
<body class="fixed2-bg" style="background-image: url(/static/img/fallout_TV.gif); height: 400px;">
    <!-- Start of Page Container -->
    <div class="container col-md-8">
        <h1 class="title text-center opacity-75">Game Vault</h1>
        <!-- Forms Container -->
        <div class="d-flex justify-content-between mt-3">
            <!-- Registration Form -->
            <form action="/register" class="col-md-4 p-4 text-dark opacity-75" method="POST">
                <h1 class="text-dark mb-3">Registration</h1>
                <!-- Flash messages -->
                {% with messages = get_flashed_messages(category_filter=['register']) %}     <!-- declare a variable called messages -->
                    {% if messages %}                            <!-- check if there are any messages -->
                        {% for message in messages %}            <!-- loop through the messages -->
                            <p class="text-danger"><strong>{{message}}</strong></p>                   <!-- display each message in a paragraph tag -->
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <!-- End of Flash messages -->
                <div class="form-group mb-2">
                    <label class="label_text" for="first_name">First name:</label>
                    <input type="text" name="first_name" class="form-control">
                </div>
                <div class="form-group mb-2">
                    <label class="label_text" for="last_name">Last name:</label>
                    <input type="text" name="last_name" class="form-control">
                </div>
                <div class="form-group mb-2">
                    <label class="label_text" for="email">Email:</label>
                    <input type="text" name="email" class="form-control">
                </div>
                <div class="form-group mb-2">
                    <label class="label_text" for="password">Password:</label>
                    <input type="text" name="password" class="form-control">
                </div>
                <div class="form-group mb-2">
                    <label class="label_text" for="confirm_password">Confirm Password:</label>
                    <input type="text" name="confirm_password" class="form-control">
                </div>
                <button class="btn btn-secondary mt-3">Register</button>
            </form>
            <!-- End of Registration Form -->
            <!-- Login Form -->
            <form action="/login" class="col-md-4 p-4 text-dark opacity-75" method="POST">
                <h1 class="text-dark mb-3" >Login</h1>
                <!-- Flash messages -->
                {% with messages = get_flashed_messages(category_filter=['login']) %}     <!-- declare a variable called messages -->
                    {% if messages %}                            <!-- check if there are any messages -->
                        {% for message in messages %}            <!-- loop through the messages -->
                            <p class="text-danger"><strong>{{message}}</strong></p>                   <!-- display each message in a paragraph tag -->
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <!-- End of Flash messages -->
                <div class="form-group mb-2">
                    <label class="label_text" for="email">Email:</label>
                    <input type="text" name="email" class="form-control">
                </div>
                <div class="form-group mb-2">
                    <label class="label_text" for="password">Password:</label>
                    <input type="text" name="password" class="form-control">
                </div>
                <button class="btn btn-secondary mt-3 text-light">Login</button>
            </form>
            <!-- End of Login Form -->
        </div>
    </div>
    <!-- End of Page Container -->
</body>
</html>