/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
}

/* Registration and Login Page */
.title {
    color: teal;
    text-shadow: 3px 3px black;
    font-size: 120px;
}

.reg_and_log_background {
    background-image: url("/static/img/fallout_TV.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.label_text {
    font-size: x-large;
}
/* End of Registration and Login Page */


/* Homepage */
/* Homepage background */
.homepage_background {
    background-image: url("/static/img/digital.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Action links */
.act_links {
    font-size: larger;
    text-decoration: none;
}

/* Logout/Add game buttons */
.logout_btn {
    margin-left: 25px;
}

/* Thumbnail pictures */
.hp_thumbnails {
    height: 40px;
}
/* End of Homepage */


/* Game Page */
/* Game card image */
.card_image {
    height: 200px;
}

/* Navbar safe image */
.gp_thumbnail {
    height: 60px;
}

/* Game card */
.card {
    height: 300px;
    /* width: 320px; */
}
/* End of Game Page */
