/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* Registration and Login */
.title {
    color: teal;
    text-shadow: 3px 3px rebeccapurple;
    font-size: 120px;
}

.reg_and_log {
    background-image: url("/static/img/fallout_TV.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
/* End of Registration and Login */

/* Homepage */
.mario_gif,
.yoshi_gif {
    height: 50px;
}
/* End of Homepage */