/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* Registration and Login Page */
.title {
    color: teal;
    text-shadow: 3px 3px rebeccapurple;
    font-size: 120px;
}

.reg_and_log_background {
    background-image: url("/static/img/fallout_TV.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
/* End of Registration and Login Page */

/* Homepage */
.homepage_background {
    background-image: url("/static/img/digital.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Action links */
.act_links {
    font-size: larger;
    text-decoration: none;
}

/* Logout/Add game buttons */
.logout_btn,
.add_game_btn {
    margin-left: 25px;
}
/* End of Homepage */

/* Add Game Page */
.add_game_background {
    background-image: url("/static/img/digital.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
/* End of Add Game Page */

/* Edit Game Page */
.edit_game_background {
    background-image: url("/static/img/digital.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
/* End of Edit Game Page */

/* View Game Page */
.view_game_background {
    background-image: url("/static/img/digital.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
/* End of View Game Page */